#projects {
    width: 80%;
    margin: auto;
    border-top: .1rem var(--secondary-color) solid;
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}

#projectsTitle {
    width: 100%;
    font-size: 200%;
    color: var(--secondary-color);
    text-align: center;
    padding: 1vh 0;text-decoration: underline;
}

#projectArea {
    width: 100%;
    display: flex;
}

@media only screen and (max-width: 1100px){
    #projects {width: 90%;}
    #projectsTitle {font-size: 250%;}
    #projectArea {flex-direction: column;}
}

@media only screen and (max-width: 500px){
    #projects {width: 90%;}
    #projectsTitle {font-size: 200%;}
    #projectArea {flex-direction: column;}
}