#popUp {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left:0;
    top:0;
    z-index: 5;
    background-color: rgba(0, 0, 0, .5);
}

#popUpArea {
    background-color: #999;
    padding: 1vh 1vw;
    width: 50%;
}