.projectContainer{
    position: relative;
    text-align: center;
    width: 100%;
    height: 50vh;
    margin: 1vh 0;
    transition: transform;
}

.projectContainer:hover{
    cursor: pointer;
    transition-duration: 1s;
}

.projectContainer:hover .project{
    transition: ease-out;
    transition-duration: 1s;
    display: none;
    /* animation-delay: 2s; */
}

.projectContainer:hover .projectTitle{
    transition: ease-in;
    display: flex;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    /* animation-delay: 2s; */
}

.project{
    display: flex;
    position: absolute;
    width: 98%;
    margin: 1%;
    min-height: 50vh;
    font-size: 150%;
    background-size: cover;
    background-position: center;
    /* background-size: auto; */
    opacity: .8;
}

.projectTitle {
    display: none;
    color: white;
    position: relative;
    background-color: #444;
    width: 98%;
    margin: 1%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

@media only screen and (max-width: 1100px){
    .project{font-size: 300%;}
    
}
@media only screen and (max-width: 500px){
    .project{font-size: 150%;}
}