.projectContainer a{
    position: relative;
    text-align: center;
}

.project{
    width: 98%;
    margin: 1%;
    min-height: 40vh;
    font-size: 150%;
    background-size: cover;
    opacity: .8;
}

.project:hover {
    cursor: pointer;
    opacity: .3;
}

.projectTitle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -400%);
    font-size: 200%;
    color: var(--text-color)
}

/* #project1{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

#project2{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#project3{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1100px){
    .project{font-size: 300%;}
    
}
@media only screen and (max-width: 500px){
    .project{font-size: 150%;}
}