.project{
    width: 98%;
    margin: 1%;
    min-height: 40vh;
    font-size: 150%;
}

#project1{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#project2{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#project3{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}