.project{
    width: 98%;
    margin: 1%;
    min-height: 40vh;
    font-size: 150%;
}

#project1{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#project2{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#project3{
    background-image: url("./../../assets/images/sunset.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1100px){
    .project{font-size: 300%;}
    
}
@media only screen and (max-width: 500px){
    .project{font-size: 150%;}
}