#resume{
    width: 80%;
    margin: auto;
    margin-bottom: 2vh;
}

#resumeTitle{
    width: 100%;
    font-size: 200%;
    color: var(--secondary-color);
    text-align: center;
    padding: 1vh 0;
    text-decoration: underline;
}

#resumeArea{
    width: 90%;
    margin: auto;
    background-color: #999;
    border: .3rem #444 solid;
    height: 90vh;
}

#resumeArea p{
    font-size: 150%;
}

#resumeDoc {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1100px){
    #resume{width: 95%;}
    #resumeTitle{font-size: 250%;}
    #resumeArea{width: 90%;}
    #resume p{font-size: 250%;}
}
@media only screen and (max-width: 500px){
    #resume{width: 90%;}
    #resumeTitle{font-size: 200%;}
    #resumeArea{
        width: 90%;
        height: 50vh;
    }
    #resume p{font-size: 150%;}
}