#about {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1vh;
}

#aboutNorm {
    display: flex;
    width: 100%;
    font-size: 110%;
}

#aboutImage {
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin: 0 1vw;
}

#aboutText {
    display: flex;
    flex-direction: column;
    padding: 1vh 2vw;
    color: var(--text-color);
}

#aboutTitle {
    width: 100%;
    padding: 1vh 0;
    color: var(--secondary-color)
}

#aboutPara {
    width: 100%;
    line-height: 130%;
}

/* Responsive portion of about component */

#aboutRes {
    display: none;
    flex-direction: column;
    font-size: 190%;
    color: var(--text-color);
}

#aboutTitleRes {
    width: 100%;
    padding: 1vh 0;
    color: var(--secondary-color)
}

#aboutParaRes {
    width: 100%;
    line-height: 130%;
}

#aboutTextRes {
    display: flex;
}

#aboutImageRes{
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin: 0 1vw;
}

@media only screen and (max-width: 1100px) {
    #about {
        width: 90%;
        flex-direction: column-reverse;
        font-size: 90%;
    }
    #aboutNorm {display: none;}
    #aboutRes {display: flex;}
    #aboutText{
        font-size: 180%;
    }
    #aboutPara{padding: 1vh 1vw;}
    #aboutImage{
        width: 30%;
        margin: auto;
    }
}

@media only screen and (max-width: 500px){
    #about{font-size: 110%;}
    #aboutNorm{
        display: flex;
        flex-direction: column-reverse;
    }
    #aboutRes{display: none;}
    #aboutText{font-size: 100%;}
    #aboutImage{width: 60%;}
}