* {
    padding: 0;
    margin: 0;
}

:root{
    --main-color: #333;
    --hover-color: #222;
    --background-color: #555;
    /* --background-color: #333366; */
    /* --background-color: #4d0f0f; (No) */
    --secondary-color: rgb(250, 176, 107);
    --text-color: #fff;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
}

.contain {
    width: 100%;
}

.homeNavbar {
    width: 10%;
}

.homeBody {
    width: 90%;
    float: right;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1100px) {
    .homeBody {
        width: 100%;
        float:left;
    }
    .homeNavbar{width: 0;}
}

@media only screen and (max-width: 500px) {
    .homeBody {
        width: 110%;
        float: left;
    }
    .homeNavbar{width: 0;}
}