/* #contact {
    width: 80%;
    margin: auto;
    border-top: .1rem var(--secondary-color) solid;
    border-bottom: .1rem var(--secondary-color) solid;
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
}

#contactTitle {
    width: 100%;
    font-size: 200%;
    color: var(--secondary-color);
    text-align: center;
    padding: 1vh 0;
    text-decoration: underline;
}

#contactArea {
    width: 40%;
    margin: auto;
    padding: 3vh 2vw;
    background-color: #999;
    border: .3rem #444 solid;
}

#contactArea p{
    font-size: 130%;
    padding: 1vh 1vw;
    width: 100%;
    text-align: center;
}

#contactArea a{
    color: black;
    text-decoration: none;
}

#contact a:hover{
    color: lightblue
}

@media only screen and (max-width: 1100px){
    #contact{width: 90%;}
    #contactTitle{font-size: 250%;}
    #contactArea{width: 60%;}
    #contactArea p{font-size: 150%;}
}
@media only screen and (max-width: 500px){
    #contactTitle{font-size: 200%;}
    #contactArea {width: 70%;}
    #contactArea p{font-size: 120%;}
} */