#nav{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
}

.btn{
    padding: 2vh 0;
    font-size: 140%;
    border: none;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover {
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover {
    background-color: var(--hover-color);
}

#about{
    font-size: 140%;
}

/* ---------------Responsive Navbar---------------- */
#navRes {
    position: fixed;
    display: none;
    width: 100%;
    background-color: var(--main-color);
    flex-direction: column;
}

#navRes button {
    background: none;
    border: none;
    cursor: pointer;
}

#iconContainer {
    width: 96%;
    padding: 2%;
}

#btnResLink {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vh 0;
}

#btnResLink button:hover {
    background-color: #777;
}

#btnResLink a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 160%;
    display: block;
    padding: 3vh 0;
}

@media only screen and (max-width: 1100px) {
    #navRes {
        display: flex;
        width: 100%;
    }
    #nav {display: none;}
    #btnResLink a {font-size: 200%;}
}

@media only screen and (max-width: 500px) {
    #btnResLink a {font-size: 200%;}
}