.slider {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.sliderArea{
    width: 100%;
    margin: auto;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 3%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.leftArrow {
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}